<a href="https://colab.research.google.com/github/glaubosclimaco/entregaveis/blob/main/Cenario_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Carregando json

In [3]:
import pandas as pd
import json
import numpy as np

df = pd.read_json('/content/drive/MyDrive/Colab Notebooks/Cenário II/data.json')

# pd.set_option('display.max_columns', None) # para mostrar todas as colunas
# pd.set_option('display.max_rows', None) # para mostrar todas as colunas

df = df.loc[:,:'NFeID']

# del df['ItemList']

# print('\n\nSem itemlist:\n\n', df)

# carregando json
with open('/content/drive/MyDrive/Colab Notebooks/Cenário II/data.json','r') as f:
    data = json.loads(f.read())

Expandindo a coluna ItemList num mesmo dataframe

In [4]:
# ---
# Expandindo a coluna ItemList num mesmo dataframe;
# ---

df_expanded = pd.json_normalize(
    data, 
    record_path =['ItemList'], 
    meta=['CreateDate', 'EmissionDate','Discount', 'NFeNumber','NFeID']
)
print('\n\nExpandida:\n\n', df_expanded)

Expandida:

     ProductName  Value  Quantity  ... Discount NFeNumber NFeID
0          Rice  35.55         2  ...      0.0       501     1
1         Flour  11.55         5  ...      0.0       501     1
2          Bean  27.15         7  ...      0.0       501     1
3        Tomate  12.25        10  ...      0.0       502     2
4         Pasta   7.55         5  ...      0.0       502     2
5          Beer   9.00         6  ...      0.0       503     3
6  French fries  10.99         2  ...      0.0       503     3
7     Ice cream  27.15         1  ...      0.0       503     3

[8 rows x 8 columns]

Normalizar os itens dessa coluna de dicionário e dividí-los em dois dataframes separados, seguindo o modelo relacional

In [5]:
# -----
#  Normalizando os itens dessa coluna de dicionário e dividí-los em dois dataframes separados, seguindo o modelo relacional
# -----

# Normalizando os dados da lista de dics
df_products = pd.json_normalize(data, record_path =['ItemList'])

# print('\n',df_products)

#df temporarios
# df_temp1 =  df_expanded.loc[:,:'Quantity']
# print('df_temp1:\n', df_temp1)
df_temp2 =  df_expanded.loc[:,'NFeID':'NFeID']
# print('df_temp2:\n', df_temp2)
# frames = [df_temp1, df_temp2]
# df_products = pd.concat(frames)

df_products["NFeID"] = df_temp2
# print('df_temp1:\n', df_products)

# values = df_expanded['NFeID'].unique()
# values = pd.Series(np.arange(len(values)), values)
# # df['Product_id'] = df_products['ProductName'].apply(values.get)
# df_products['NFeID'] = df_expanded['ProductName'].apply(values.get)

print('\n\nData Frame 1:\n\n',df)

print('\n\nData Frame 2:\n\n',df_products)

Data Frame 1:

                CreateDate         EmissionDate  Discount  NFeNumber  NFeID
0  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        501      1
1  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        502      2
2  2021-05-24T20:21:34.79  2021-05-24T00:00:00         0        503      3


Data Frame 2:

     ProductName  Value  Quantity NFeID
0          Rice  35.55         2     1
1         Flour  11.55         5     1
2          Bean  27.15         7     1
3        Tomate  12.25        10     2
4         Pasta   7.55         5     2
5          Beer   9.00         6     3
6  French fries  10.99         2     3
7     Ice cream  27.15         1     3

Data Frame 1 e 2 estão relacionados pela coluna *NFeID*